## Observations and Insights

In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "../Resources/mouse_metadata.csv"
study_results_path = "../Resources/study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_study_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the data table for preview
combined_study_df.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [105]:
# Checking the number of mice.
combined_study_mice = len(combined_study_df)
print(combined_study_mice)

1893

In [163]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
#pokedex_group
grouped_mice_df = combined_study_df.groupby(["Mouse ID", "Timepoint"]).mean()
grouped_mice_df
grouped_mice_df.head(40)

                    Age_months  Weight (g)  Tumor Volume (mm3)  \
Mouse ID Timepoint
a203     0                20.0        23.0           45.000000
         5                20.0        23.0           48.508468
         10               20.0        23.0           51.852437
         15               20.0        23.0           52.777870
         20               20.0        23.0           55.173336
         25               20.0        23.0           56.793208
         30               20.0        23.0           59.523197
         35               20.0        23.0           61.931650
         40               20.0        23.0           63.593490
         45               20.0        23.0           67.973419
a251     0                21.0        25.0           45.000000
         5                21.0        25.0           46.982127
         10               21.0        25.0           48.591179
         15               21.0        25.0           50.534456
         20               21.0        25.0           54.462594
         25               21.0        25.0           57.414646
         30               21.0        25.0           59.861241
         35               21.0        25.0           60.903885
         40               21.0        25.0           63.095076
         45               21.0        25.0           65.525743
a262     0                17.0        29.0           45.000000
         5                17.0        29.0           48.717568
         10               17.0        29.0           49.595181
         15               17.0        29.0           53.827974
         20               17.0        29.0           57.013313
         25               17.0        29.0           60.131862
         30               17.0        29.0           64.958092
         35               17.0        29.0           66.561963
         40               17.0        29.0           69.592732
         45               17.0        29.0           70.717621
a275     0                20.0        28.0           45.000000
         5                20.0        28.0           46.795257
         10               20.0        28.0           47.371343
         15               20.0        28.0           49.734404
         20               20.0        28.0           50.513437
         25               20.0        28.0           53.576064
         30               20.0        28.0           54.444713
         35               20.0        28.0           56.353538
         40               20.0        28.0           60.921539
         45               20.0        28.0           62.999356

                    Metastatic Sites
Mouse ID Timepoint
a203     0                       0.0
         5                       0.0
         10                      1.0
         15                      1.0
         20                      1.0
         25                      1.0
         30                      1.0
         35                      2.0
         40                      2.0
         45                      2.0
a251     0                       0.0
         5                       0.0
         10                      1.0
         15                      1.0
         20                      1.0
         25                      1.0
         30                      1.0
         35                      1.0
         40                      1.0
         45                      1.0
a262     0                       0.0
         5                       1.0
         10                      1.0
         15                      2.0
         20                      2.0
         25                      2.0
         30                      3.0
         35                      4.0
         40                      4.0
         45                      4.0
a275     0                       0.0
         5                       0.0
         10                      0.0
         15                      0.0
         20                      1.0
         25                      1.0
         30                      2.0
         35                      2.0
         40                      3.0
         45                      3.0

In [166]:
mouse_count = len(combined_study_df["Mouse ID"].unique())
print(mouse_count)

249

In [154]:
duplicate_check = grouped_mice_df[grouped_mice_df.duplicated(keep=False)]
duplicate_check

,,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites
Mouse ID,Timepoint,,,,
a251,0,21.0,25.0,45.0,0.0
a262,0,17.0,29.0,45.0,0.0
a366,0,16.0,29.0,45.0,0.0
a401,0,8.0,25.0,45.0,0.0
a492,0,20.0,25.0,45.0,0.0
...,...,...,...,...,...
z234,0,19.0,27.0,45.0,0.0
z314,0,21.0,28.0,45.0,0.0
z578,0,11.0,16.0,45.0,0.0
z581,0,24.0,25.0,45.0,0.0
z795,0,13.0,29.0,45.0,0.0

In [155]:
#ins_groupby
clean_grouped_df = duplicate_check.dropna(how="any")
clean_grouped_df.count()

Age_months            167
Weight (g)            167
Tumor Volume (mm3)    167
Metastatic Sites      167
dtype: int64

In [121]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_check.head(20)

,,Age_months,Weight (g),Tumor Volume (mm3),Metastatic Sites
Mouse ID,Timepoint,,,,
a251,0,21.0,25.0,45.0,0.0
a262,0,17.0,29.0,45.0,0.0
a366,0,16.0,29.0,45.0,0.0
a401,0,8.0,25.0,45.0,0.0
a492,0,20.0,25.0,45.0,0.0
a577,0,6.0,25.0,45.0,0.0
a699,0,5.0,28.0,45.0,0.0
a788,0,5.0,30.0,45.0,0.0
a897,0,7.0,28.0,45.0,0.0
a963,0,23.0,27.0,45.0,0.0
b313,0,12.0,27.0,45.0,0.0
b447,0,2.0,30.0,45.0,0.0
b487,0,6.0,28.0,45.0,0.0
b559,0,20.0,26.0,45.0,0.0
b759,0,12.0,25.0,45.0,0.0
b879,0,4.0,26.0,45.0,0.0
c264,0,11.0,27.0,45.0,0.0
c282,0,12.0,27.0,45.0,0.0
c302,0,10.0,29.0,45.0,0.0
c326,0,18.0,25.0,45.0,0.0

In [156]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
dropped_mice_df = grouped_mice_df.drop_duplicates(keep=False)
dropped_mice_df

                    Age_months  Weight (g)  Tumor Volume (mm3)  \
Mouse ID Timepoint
a203     0                20.0        23.0           45.000000
         5                20.0        23.0           48.508468
         10               20.0        23.0           51.852437
         15               20.0        23.0           52.777870
         20               20.0        23.0           55.173336
...                        ...         ...                 ...
z969     25                9.0        30.0           63.145652
         30                9.0        30.0           65.841013
         35                9.0        30.0           69.176246
         40                9.0        30.0           70.314904
         45                9.0        30.0           73.867845

                    Metastatic Sites
Mouse ID Timepoint
a203     0                       0.0
         5                       0.0
         10                      1.0
         15                      1.0
         20                      1.0
...                              ...
z969     25                      2.0
         30                      3.0
         35                      4.0
         40                      4.0
         45                      4.0

[1721 rows x 4 columns]

In [157]:
# Checking the number of mice in the clean DataFrame.
dropped_mice_df.count()

Age_months            1721
Weight (g)            1721
Tumor Volume (mm3)    1721
Metastatic Sites      1721
dtype: int64

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen